@page "/DialogCardPageUploadCustomer/{UploadID}"
@using System.ComponentModel.DataAnnotations
@using BlazorApp_TeleCRM.Helper
@using BlazorApp_TeleCRM.Models
@using Microsoft.AspNetCore.Components.Authorization
@using MySql.Data.MySqlClient
@using System.Security.Claims
@using static BlazorApp_TeleCRM.Components.Pages.UploadJob
@inject IConfiguration Configuration
@inject Radzen.DialogService dialogService
@inject NotificationService NotificationService
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment Environment
@inject MySqlConnection MySqlConnection
@inject AuthenticationStateProvider AuthenticationStateProvider


<RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">

    <RadzenCard Variant="Variant.Outlined">
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">แหล่งข้อมูล <span class="rz-messages-error">*</span> </RadzenText>
                <RadzenDropDown @bind-Value=@channel Data=@datachannel Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="12">
                <InputFile OnChange="HandleFileSelected" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="12">
                <RadzenAlert AlertStyle="AlertStyle.Danger" @bind-Visible=isError ShowIcon="true" Variant="Variant.Flat" Shade="Shade.Lighter">
                    @TextError
                </RadzenAlert>

                <RadzenColumn Size="12" SizeMD="12">
                    <RadzenCard Variant="Variant.Outlined" @bind-Visible=runProcess style="background-color:#CBE2F5;">
                        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                            <RadzenProgressBarCircular @bind-Visible="runProcess_wait" ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Medium">
                                <Template>รอ</Template>
                            </RadzenProgressBarCircular>
                            <RadzenText Style="margin-top:20px" TextStyle="TextStyle.Caption">@TextProcess</RadzenText>
                        </RadzenStack>
                    </RadzenCard>
                </RadzenColumn>


                <RadzenButton Text="อัพโหลด" Disabled="@btnDisable" Style="margin-top:15px" Click="@(() => OnUpload())" ButtonStyle="ButtonStyle.Primary" />
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>


    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="1.5rem">
        <RadzenButton Click="@((args) => dialogService.Close(true))" Variant="Variant.Outlined" Text="ปิด" Style="width: 120px;margin-bottom:20px" />
    </RadzenStack>
</RadzenStack>

@code {
    [Parameter] public int UploadID { get; set; }


    private List<MasCustomers>? excelData;

    private string message = "No file attached.";

    private DotNetObjectReference<DialogCardPageUploadCustomer> dotNetHelper;

    string channel = "เลือกแหล่งข้อมูล";
    IEnumerable<string> datachannel;


    bool btnDisable = true;

    bool isError = false;
    string TextError = "";

    bool runProcess = false;
    bool runProcess_wait = false;
    string TextProcess = "";

    private string username;
    private IEnumerable<string> roles;
    private string BranchCode { get; set; }
    private IEnumerable<string> _BranchCode;

    private static readonly string[] data_channels = new[]
      {
            "เลือกแหล่งข้อมูล", "MyOrder รูปแบบที่ 3", "GoSell"
      };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        datachannel = data_channels;

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            username = user.Identity.Name;
            roles = user.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value);
            // if (!user.IsInRole("Admin"))
            // {
            //     Navigation.NavigateTo("/access-denied", forceLoad: true);
            // }
            _BranchCode = user.Claims.Where(c => c.Type == ClaimTypes.Locality).Select(c => c.Value);
            BranchCode = _BranchCode.FirstOrDefault();

        }
        else
        {
            username = "Not authenticated";
            roles = Enumerable.Empty<string>();
            BranchCode = "";
        }


    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {

        isError = false;

        var file = e.File;
        var filePath = Path.Combine(Environment.WebRootPath, file.Name);

        using (var fileStream = new FileStream(filePath, FileMode.Create))
        {
            await file.OpenReadStream().CopyToAsync(fileStream);
        }

        runProcess = true;
        runProcess_wait = true;
        TextProcess = "กรุณารอ เก็บข้อมูลจากไฟล์ ..";
        // Read the Excel file

        if (channel == "MyOrder รูปแบบที่ 3")
        {
            excelData = ReadExcel(filePath);
        }
        else if (channel == "GoSell")
        {
            excelData = ReadExcel_GoSell(filePath);
        }


        runProcess_wait = false;
        TextProcess = "ข้อมูลพร้อมสำหรับการอัพโหลด";
        btnDisable = false;
    }

    private List<MasCustomers> ReadExcel_GoSell(string filePath)
    {

        TextProcess = "อ่านข้อมูลไฟล์";

        DateTime today = new DateTime();
        today = DateTime.Now;


        var data = new List<MasCustomers>();
        using (var workbook = new ClosedXML.Excel.XLWorkbook(filePath))
        {
            var worksheet = workbook.Worksheet(1); // เลือกชีตแรก
            var rowCount = worksheet.LastRowUsed().RowNumber();

            for (int row = 4; row <= rowCount; row++) // เริ่มจากแถวที่ 2 เพราะแถวแรกเป็นหัวตาราง
            {
                Guid id = Guid.NewGuid();

                //คำสั่งซื้อ
                var dateValue = worksheet.Cell(row, 50).GetValue<string>();
                DateTime orderDate;

                // ใช้ TryParse เพื่อตรวจสอบและแปลงค่าจากเซลล์
                if (!DateTime.TryParse(dateValue, out orderDate))
                {
                    orderDate = DateTime.MinValue; // หรือกำหนดค่าเริ่มต้นหากไม่สามารถแปลงได้
                }

                //ยอดขาย
                var amount = worksheet.Cell(row, 33).GetValue<string>();
                decimal out_amount;

                if (!Decimal.TryParse(amount, out out_amount))
                {
                    out_amount = 0;
                }


                var employee = new MasCustomers
                    {
                        guid = id.ToString(),
                        code = worksheet.Cell(row, 6).GetValue<string>(), //เบอร์โทร
                        name = worksheet.Cell(row, 5).GetValue<string>(), //ชื่อลูกค้า
                        phone = worksheet.Cell(row, 6).GetValue<string>(),//เบอร์โทร
                        address1 = worksheet.Cell(row, 15).GetValue<string>(), //ที่อยู่
                        sub_district = worksheet.Cell(row, 16).GetValue<string>(), //ตำบล
                        district = worksheet.Cell(row, 17).GetValue<string>(), //อำเภอ
                        province = worksheet.Cell(row, 18).GetValue<string>(), //จังหวัด
                        zipcode = worksheet.Cell(row, 19).GetValue<string>(), //รหัสไปรษณีย์
                        datasource_platform = channel,
                        social_media = worksheet.Cell(row, 8).GetValue<string>(), //โซเชียล
                        branch_code = BranchCode,
                        created_by = username,
                        created_date = today,
                        modified_by = "",
                        modified_date = today,

                        order_no = worksheet.Cell(row, 3).GetValue<string>(), //เลขที่คำสั่งซื้อ
                        order_date = orderDate, // ใช้ค่าที่ตรวจสอบแล้ว
                        channel = worksheet.Cell(row, 1).GetValue<string>(), //ช่องทางการขาย
                        tracking_no = worksheet.Cell(row, 22).GetValue<string>(), //หมายเลขพัสดุ
                        amount = out_amount,
                        payment_type = worksheet.Cell(row, 12).GetValue<string>(), //การชำระเงิน
                        product_codes = worksheet.Cell(row, 31).GetValue<string>(), //รหัสสินค้า (SKU)
                        product_names = worksheet.Cell(row, 27).GetValue<string>(), //ชื่อสินค้า
                        product_qtys = worksheet.Cell(row, 34).GetValue<string>() //จำนวนสินค้า

                    };

                data.Add(employee);
            }
        }

        return data;
    }


    private List<MasCustomers> ReadExcel(string filePath)
    {

        TextProcess = "อ่านข้อมูลไฟล์";

        DateTime today = new DateTime();
        today = DateTime.Now;

        if (channel == "MyOrder รูปแบบที่ 3")
        {
            channel = "MyOrder";
        }


        var data = new List<MasCustomers>();
        using (var workbook = new ClosedXML.Excel.XLWorkbook(filePath))
        {
            var worksheet = workbook.Worksheet(1); // เลือกชีตแรก
            var rowCount = worksheet.LastRowUsed().RowNumber();

            for (int row = 2; row <= rowCount; row++) // เริ่มจากแถวที่ 2 เพราะแถวแรกเป็นหัวตาราง
            {
                Guid id = Guid.NewGuid();

                var dateValue = worksheet.Cell(row, 4).GetValue<string>();
                DateTime orderDate;

                // ใช้ TryParse เพื่อตรวจสอบและแปลงค่าจากเซลล์
                if (!DateTime.TryParse(dateValue, out orderDate))
                {
                    orderDate = DateTime.MinValue; // หรือกำหนดค่าเริ่มต้นหากไม่สามารถแปลงได้
                }

                var amount = worksheet.Cell(row, 22).GetValue<string>();
                decimal out_amount;

                if (!Decimal.TryParse(amount, out out_amount))
                {
                    out_amount = 0;
                }


                var employee = new MasCustomers
                    {
                        guid = id.ToString(),
                        code = worksheet.Cell(row, 7).GetValue<string>(),
                        name = worksheet.Cell(row, 5).GetValue<string>(),
                        phone = worksheet.Cell(row, 7).GetValue<string>(),
                        address1 = worksheet.Cell(row, 8).GetValue<string>(),
                        sub_district = worksheet.Cell(row, 9).GetValue<string>(),
                        district = worksheet.Cell(row, 10).GetValue<string>(),
                        province = worksheet.Cell(row, 11).GetValue<string>(),
                        zipcode = worksheet.Cell(row, 12).GetValue<string>(),
                        datasource_platform = channel,
                        social_media = worksheet.Cell(row, 3).GetValue<string>(),
                        branch_code = BranchCode,
                        created_by = username,
                        created_date = today,
                        modified_by = "",
                        modified_date = today ,

                        order_no = worksheet.Cell(row, 2).GetValue<string>(),
                        order_date = orderDate, // ใช้ค่าที่ตรวจสอบแล้ว
                        channel = worksheet.Cell(row, 3).GetValue<string>(),
                        tracking_no = worksheet.Cell(row, 18).GetValue<string>(),
                        amount = out_amount,
                        payment_type = worksheet.Cell(row, 23).GetValue<string>(),
                        product_codes = worksheet.Cell(row, 14).GetValue<string>(),
                        product_names = worksheet.Cell(row, 15).GetValue<string>(),
                        product_qtys = worksheet.Cell(row, 16).GetValue<string>()

                    };

                data.Add(employee);
            }
        }

        return data;
    }

    private async Task SaveToDatabase()
    {
        btnDisable = true;
        runProcess_wait = true;
        TextProcess = "กรุณารอ ระบบกำลังทำการบันทึกข้อมูล..";

        string count_total = excelData.Count().ToString() ;
        int row = 1;
        try
        {
            await MySqlConnection.OpenAsync();

            foreach (var customers in excelData)
            {
                TextProcess = "กรุณารอ ระบบกำลังทำการบันทึกข้อมูล..  " + row + "/" + count_total ;


                var query = @"
    INSERT INTO mas_customers (guid, code, name, phone, address1, sub_district, district, province, zipcode, datasource_platform, social_media, branch_code, created_by, created_date, modified_by, modified_date)
    VALUES (@Guid, @Code, @Name, @Phone, @Address1, @SubDistrict, @District, @Province, @Zipcode, @DatasourcePlatform, @SocialMedia, @BranchCode, @CreatedBy, @CreatedDate, @ModifiedBy, @ModifiedDate)
    ON DUPLICATE KEY UPDATE
        name = VALUES(name),
        phone = VALUES(phone),
        address1 = VALUES(address1),
        sub_district = VALUES(sub_district),
        district = VALUES(district),
        province = VALUES(province),
        zipcode = VALUES(zipcode),
        datasource_platform = VALUES(datasource_platform),
        social_media = VALUES(social_media),
        branch_code = VALUES(branch_code),
        modified_by = VALUES(modified_by),
        modified_date = VALUES(modified_date);";  // แทนที่ค่าต่าง ๆ เมื่อ phone ซ้ำกัน

                using (var cmd = new MySqlCommand(query, MySqlConnection))
                {

                    //  GetGenerateID generateID = new GetGenerateID(Configuration);
                    // var genid = generateID.GenId("customer_id", BranchCode.Substring(0, 2), BranchCode);
                    // var genid = await generateID.GenIdCustomer("customer_id", BranchCode.Substring(0, 2), BranchCode, customers.phone);

                    cmd.Parameters.AddWithValue("@Guid", Guid.NewGuid());  // สร้าง GUID ใหม่
                    cmd.Parameters.AddWithValue("@Code", BranchCode + "-" + customers.phone);
                    cmd.Parameters.AddWithValue("@Name", customers.name);
                    cmd.Parameters.AddWithValue("@Phone", customers.phone);
                    cmd.Parameters.AddWithValue("@Address1", customers.address1);
                    cmd.Parameters.AddWithValue("@SubDistrict", customers.sub_district);
                    cmd.Parameters.AddWithValue("@District", customers.district);
                    cmd.Parameters.AddWithValue("@Province", customers.province);
                    cmd.Parameters.AddWithValue("@Zipcode", customers.zipcode);
                    cmd.Parameters.AddWithValue("@DatasourcePlatform", customers.datasource_platform);
                    cmd.Parameters.AddWithValue("@SocialMedia", customers.social_media);
                    cmd.Parameters.AddWithValue("@BranchCode", customers.branch_code);
                    cmd.Parameters.AddWithValue("@CreatedBy", username);  // ระบุค่าเริ่มต้น
                    cmd.Parameters.AddWithValue("@CreatedDate", customers.created_date);  // วันที่สร้าง DateTime.UtcNow
                    cmd.Parameters.AddWithValue("@ModifiedBy", username);  // ระบุค่าเริ่มต้น
                    cmd.Parameters.AddWithValue("@ModifiedDate", customers.modified_date);  // วันที่แก้ไขล่าสุด DateTime.UtcNow

                    await cmd.ExecuteNonQueryAsync();


                }

                try
                {
                    var order = new CrmOrder
                        {
                            guid = Guid.NewGuid().ToString(),
                            customer_code = customers.phone,
                            branch_code = customers.branch_code,
                            order_no = customers.order_no,
                            order_date = customers.order_date,
                            channel = customers.channel,
                            tracking_no = customers.tracking_no,
                            amount = customers.amount,
                            payment_type = customers.payment_type,
                            product_codes = customers.product_codes,
                            product_names = customers.product_names,
                            product_qtys = customers.product_qtys,
                            modified_by = username,
                            modified_date = customers.modified_date
                        };

                    GetGenerateCrmOrder getGenerateCrmOrder = new GetGenerateCrmOrder(Configuration);
                    await getGenerateCrmOrder.Upload(order, channel);

                } catch { }
                // upload sale oder
                row++;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            TextProcess = $"Error: {ex.Message}";
        }
        finally
        {

            await MySqlConnection.CloseAsync();


            btnDisable = false;
            runProcess_wait = false;
            TextProcess = "บันทึกข้อมูลระบบเรียบร้อยแล้ว";
            NotificationService.Notify(NotificationSeverity.Success, "สำเร็จ", "บันทึกข้อมูลสำเร็จ");
            StateHasChanged();


        }
    }


    private void OnUpload()
    {
        if (channel == "" || channel == "เลือกแหล่งข้อมูล")
        {
            isError = true;
            TextError = "กรุณาเลือกแหล่งข้อมูล";
            NotificationService.Notify(NotificationSeverity.Warning, "แจ้งเตือน", "กรุณาเลือกแหล่งข้อมูล");
            return;
        }

        if (excelData == null)
        {
            isError = true;
            TextError = "กรุณานำไฟล์มาอัพโหลด";
            NotificationService.Notify(NotificationSeverity.Warning, "แจ้งเตือน", "กรุณานำไฟล์มาอัพโหลด");
            return;
        }

        SaveToDatabase();

        // StateHasChanged();
    }

}
