@page "/admincustomer"
@using BlazorApp_TeleCRM.Service
@using Microsoft.AspNetCore.Components.Authorization
@using static BlazorApp_TeleCRM.Controller.CustomerAdminController
@inject IConfiguration Configuration
@inject HttpClient Http
@inject DialogService DialogService
@inject SharedStateService SharedState


<PageTitle>ข้อมูลรายชื่อลูกค้า</PageTitle>

<div class="rz-6">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem  Text="CRM - Admin" />
        <RadzenBreadCrumbItem Path="/uploadjob" Text="ข้อมูลลูกค้า" />
    </RadzenBreadCrumb>
    <RadzenText TextStyle="TextStyle.DisplayH5">ข้อมูลรายชื่อลูกค้า</RadzenText>
</div>

<AuthorizeView>

<div class="rz-col-12 ">
    <RadzenCard Variant="Variant.Outlined" Style="background-color:#CBE2F5; padding: 1rem;">
        <strong>ค้นหา</strong>
        <RadzenRow Gap="1rem"  JustifyContent="JustifyContent.Start" Class="rz-mt-2">
            <RadzenColumn Size="3">
                <RadzenLabel Text="อัพโหลดวันที่" Component="UploadDatePicker" />
                <RadzenDatePicker @bind-Value="UploadDateFrom" Name="UploadDatePicker" ShowCalendarWeek="true" Style="width: 100%;" />
            </RadzenColumn>
            <RadzenColumn Size="3">
                <RadzenLabel Text="ถึงวันที่" Component="UploadDateToPicker" />
                <RadzenDatePicker @bind-Value="UploadDateTo" Name="UploadDateToPicker" ShowCalendarWeek="true" Style="width: 100%;" />
            </RadzenColumn>
            <RadzenColumn Size="3">
                <br />
                <RadzenButton Text="ค้นหา" Icon="search" Variant="Variant.Flat" Style="width: 100px; margin-right: 0.5rem;" Click="@OnSearch" />
                <RadzenButton Text="ล้าง" Icon="autorenew" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light" Style="width: 100px;" Click="@OnClear" />
            </RadzenColumn>
        </RadzenRow>
        
       <br />
        
        <RadzenRow Gap="1rem" JustifyContent="JustifyContent.Start" Class="rz-mt-2">
            <RadzenColumn Size="2">
                <RadzenLabel Text="กิจกรรมยังดำเนินการอยู่" Component="ActivityStatusCheckbox" />
                <RadzenCheckBox @bind-Value="IsActivityOngoing" Name="ActivityStatusCheckbox" />
            </RadzenColumn>
            <RadzenColumn Size="2">
                <RadzenLabel Text="รหัสกิจกรรม/แคมเปญ" Component="ActivityCodeTextBox" />
                <RadzenTextBox @bind-Value="ActivityCode" Name="ActivityCodeTextBox" Placeholder="กรุณากรอกรหัส" Style="width: 250px;" />
            </RadzenColumn>
            <RadzenColumn Size="2">
                <RadzenLabel Text="ชื่อกิจกรรม/แคมเปญ" Component="ActivityNameTextBox" />
                <RadzenTextBox @bind-Value="ActivityName" Name="ActivityNameTextBox" Placeholder="กรุณากรอกชื่อ" Style="width: 250px;" />
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
</div>

<RadzenCard Variant="Variant.Outlined" class="rz-my-4">
    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.SpaceBetween">
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center">
            <RadzenCheckBox @bind-Value=@allowRowSelectOnRowClick Name="CheckBox1" />
            <RadzenLabel Text="" Component="CheckBox1" />
            <RadzenButton Text="ล้างตัวเลือก" ButtonStyle="ButtonStyle.Warning" Click="@(args => selectedCustomer = null)" />
            <RadzenButton Text="สร้างกิจกรรม" Click="@OpenSideDialog" />
            <RadzenButton Text="สร้างแคมเปญ" Click="@OpenSideDialog2" />
            </RadzenStack>

        <!-- Upload button aligned to the right -->
        <RadzenButton style="width: 200px" Icon="upload" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Success" Text="อัพโหลดรายชื่อลูกค้า" Click=@OpenUpload />
    </RadzenStack>
</RadzenCard>


<RadzenDataGrid TItem="CustomerData" Data="@cus_datas" PagerPosition="PagerPosition.Bottom"
                FilterMode="FilterMode.SimpleWithMenu" PageSize="10"
                SelectionMode="DataGridSelectionMode.Multiple"
                @bind-Value=@selectedCustomer
                AllowFiltering="true" AllowPaging="true" AllowColumnResize="true"
                AllowSorting="true" ColumnWidth="300px">
    <Columns>
        <RadzenDataGridColumn Width="60px" Sortable="false" Filterable="false">
            <HeaderTemplate>
                <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select all items" }})"
                                Value="@(selectedCustomer == null || selectedCustomer?.Any() != true ? false : !cus_datas.All(i => selectedCustomer.Contains(i)) ? null : cus_datas.Any(i => selectedCustomer.Contains(i)))"
                                Change="@(args => selectedCustomer = args == true ? cus_datas.ToList() : null)" />
            </HeaderTemplate>
            <Template Context="data">
                <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(selectedCustomer != null && selectedCustomer.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
                                TValue="bool" Change=@(args => { if(!allowRowSelectOnRowClick) { grid.SelectRow(data); }}) />
            </Template>
        </RadzenDataGridColumn>


        <RadzenDataGridColumn Width="60px" Filterable="false" Property="@nameof(CustomerData.Customer_ID)" >
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="manage_search" class="rz-m-1" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CustomerData"  Property="@nameof(CustomerData.Customer_ID)" Width="120px" Title="รหัสลูกค้า" />
        <RadzenDataGridColumn TItem="CustomerData" Property="@nameof(CustomerData.Customer_Channel)" Width="100px" Title="แหล่งข้อมูล" />
        <RadzenDataGridColumn TItem="CustomerData" Property="@nameof(CustomerData.Customer_FullName)" Width="180px" Title="ชื่อลูกค้า" />
        <RadzenDataGridColumn TItem="CustomerData" Property="@nameof(CustomerData.Customer_Phone)" Width="180px" Title="เบอร์โทรศัพท์" />
        <RadzenDataGridColumn TItem="CustomerData" Property="@nameof(CustomerData.Customer_Address)" Width="120px" Title="จังหวัด" />
        <RadzenDataGridColumn TItem="CustomerData" Property="@nameof(CustomerData.CountActivity)" Width="150px" Title="กิจกรรม" />
        <RadzenDataGridColumn TItem="CustomerData" Property="@nameof(CustomerData.Activity_Latest)" Width="150px" Title="กิจกรรมล่าสุด" />
        <RadzenDataGridColumn TItem="CustomerData" Property="Remark1" Title="หมายเหตุ" Width="150px" />
        <RadzenDataGridColumn TItem="CustomerData"  Property="@nameof(CustomerData.Upload_By)" Width="150px" Title="ผู้อัพโหลด" />
        <RadzenDataGridColumn TItem="CustomerData"  Property="@nameof(CustomerData.Upload_Date)" Width="150px" Title="อัพโหลดวันที่" />
      
@*         <RadzenDataGridColumn Width="120px" Property="UploadID" Title="Download">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="download" class="rz-m-1"  />
            </Template>
        </RadzenDataGridColumn> *@
    </Columns>
</RadzenDataGrid>

</AuthorizeView>

@code {
    bool isDialogOpen = false;
    bool allowRowSelectOnRowClick = true;
    DateTime? value = DateTime.Now;

    bool value1 = false;

    private IEnumerable<CustomerData> cus_datas;
    IList<CustomerData> selectedCustomer;
    RadzenDataGrid<CustomerData> grid;

    private List<string> SelectedCustomerIDs = new List<string>();

    private DateTime? UploadDateFrom { get; set; }
    private DateTime? UploadDateTo { get; set; }
    private bool IsActivityOngoing { get; set; }
    private string ActivityCode { get; set; }
    private string ActivityName { get; set; }

    // Event handlers for buttons
    private void OnSearch()
    {
        // Implement your search logic here
    }

    private void OnClear()
    {
        // Reset all filters
        UploadDateFrom = null;
        UploadDateTo = null;
        IsActivityOngoing = false;
        ActivityCode = string.Empty;
        ActivityName = string.Empty;
    }



    async Task Update()
    {
        SelectedCustomerIDs.Clear();
        if (selectedCustomer != null)
        {
            foreach (var customer in selectedCustomer)
            {
                SelectedCustomerIDs.Add(customer.Customer_ID.ToString());
            }
        }

        SharedState.SelectedCustomerIDs = SelectedCustomerIDs;

        StateHasChanged();  // บังคับให้ UI อัปเดตใหม่
    }

    async Task OpenUpload()
    {
        await DialogService.OpenAsync<DialogCardPageUploadCustomer>($"อัพโหลดรายชื่อลูกค้า",
              new Dictionary<string, object>() { { "UploadID", 1 } },
            new DialogOptions()
                {
                    Width = "800px",
                    Height = "600px",
                    CloseDialogOnOverlayClick = false,  // Disable closing on clicking outside
                    CloseDialogOnEsc = false,           // Disable closing by pressing ESC
                    ShowClose = false                   // Remove the "X" close button
                });
    }

    async Task OpenSideDialog()
    {
        // ตรวจสอบว่ามี Dialog เปิดอยู่หรือไม่ ถ้าเปิดอยู่ ให้ปิดก่อน
        if (isDialogOpen)
        {
            DialogService.Close();  // ปิด Dialog
            await Task.Delay(200);  // หน่วงเวลาเพื่อให้ Dialog ถูกปิดสมบูรณ์
        }

        // ล้างค่า SelectedCustomerIDs แล้วเพิ่มค่าลูกค้าใหม่
        SelectedCustomerIDs.Clear();
        if (selectedCustomer!=null)
        {
            foreach (var customer in selectedCustomer)
            {
                SelectedCustomerIDs.Add(customer.Customer_ID.ToString());
            }
        }

        SharedState.SelectedCustomerIDs = SelectedCustomerIDs;

        StateHasChanged();  // บังคับให้ UI อัปเดตใหม่

        // เปิด Dialog ใหม่
        await DialogService.OpenSideAsync<DialogCardPageCustomerCreateActivity>(
            "สร้างกิจกรรม",
            new Dictionary<string, object>
                {
            { "UploadID", "Activity" },
            { "customercode", SelectedCustomerIDs }
                },
            new SideDialogOptions
                {
                    CloseDialogOnOverlayClick = true,
                    Position = DialogPosition.Right,
                    ShowMask = false,
                    Width = "850px"
                });

        // ตั้งค่าว่ามี Dialog เปิดอยู่
        isDialogOpen = true;


    }

    async Task OpenSideDialog2()
    {
        // ตรวจสอบว่ามี Dialog เปิดอยู่หรือไม่ ถ้าเปิดอยู่ ให้ปิดก่อน
        if (isDialogOpen)
        {
            DialogService.Close();  // ปิด Dialog
            await Task.Delay(200);  // หน่วงเวลาเพื่อให้ Dialog ถูกปิดสมบูรณ์
        }

        // ล้างค่า SelectedCustomerIDs แล้วเพิ่มค่าลูกค้าใหม่
        SelectedCustomerIDs.Clear();
        if (selectedCustomer != null)
        {
            foreach (var customer in selectedCustomer)
            {
                SelectedCustomerIDs.Add(customer.Customer_ID.ToString());
            }
        }

        StateHasChanged();  // บังคับให้ UI อัปเดตใหม่

        // เปิด Dialog ใหม่สำหรับสร้างแคมเปญ
        await DialogService.OpenSideAsync<DialogCardPageCustomerCreateActivity>(
            "สร้างแคมเปญ",
            new Dictionary<string, object>
                {
            { "UploadID", "Campaign" },
            { "customercode", SelectedCustomerIDs }
                },
            new SideDialogOptions
                {
                    CloseDialogOnOverlayClick = true,
                    Position = DialogPosition.Right,
                    ShowMask = false,
                    Width = "850px"
                });

        // ตั้งค่าว่ามี Dialog เปิดอยู่
        isDialogOpen = true;


    }


    protected override async Task OnInitializedAsync()
    {
        var baseApiUrl = Configuration["ApiSettings:BaseApiUrl"];

        // Use the BaseApiUrl to call the API
        cus_datas = await Http.GetFromJsonAsync<IEnumerable<CustomerData>>($"{baseApiUrl}/api/CustomerAdmin");

        selectedCustomer = new List<CustomerData>() { cus_datas.FirstOrDefault() };
    }

    
}