@page "/adminactivity"
@using BlazorApp_TeleCRM.Models
@using BlazorApp_TeleCRM.Service
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Authorization
@using static BlazorApp_TeleCRM.Controller.ActivityAdminController
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration
@inject HttpClient Http
@inject DialogService DialogService
@inject allseeddbPDContext allseed_Db
@inject ILocalStorageService LocalStorage


<PageTitle>ข้อมูลกิจกรรม</PageTitle>


<AuthorizeView>
    <Authorized Context="authState">
        <p>You are logged in as: @authState.User.Identity.Name</p>
        <p>Your roles:</p>
        <ul>
            @foreach (var claim in authState.User.Claims)
            {
                if (claim.Type == ClaimTypes.Role)
                {
                    <li>@claim.Value</li>  <!-- This will list the user's roles -->
                }
            }
        </ul>

        <!-- Admin and Manager Section -->
        <AuthorizeView Roles="Admin,Manager">
            <h3>Admin and Manager Content</h3>
            <p>This section is visible only to Admins and Managers.</p>
        </AuthorizeView>

        <!-- User Section -->
        <AuthorizeView Roles="User">
            <h3>User Content</h3>
            <p>This section is visible only to Users.</p>
        </AuthorizeView>

        <!-- All Authenticated Users -->
        <p>This section is visible to all authenticated users, regardless of role.</p>

    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this content.</p>
    </NotAuthorized>
</AuthorizeView>




<div class="rz-6">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Text="CRM - Admin" />
        <RadzenBreadCrumbItem Path="/adminactivity" Text="กิจกรรม" />
    </RadzenBreadCrumb>
    <RadzenText TextStyle="TextStyle.DisplayH5">ข้อมูลกิจกรรม</RadzenText>
</div>


<div class="rz-col-12">
    <div class="rz-card rz-variant-flat rz-background-color-info-lighter">
        <b>ค้นหา</b>
        <RadzenRow Gap="1rem">
            <RadzenColumn>
                <RadzenLabel Text="วันที่สร้างกิจกรรม " Component="RadzenDatePickerBindValue" />
                <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue" ShowCalendarWeek />
            </RadzenColumn>
            <RadzenColumn>
                <RadzenLabel Text="ถึงวันที่ " Component="RadzenDatePickerBindValue" />
                <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue" ShowCalendarWeek />
            </RadzenColumn>
            <RadzenColumn>
                <RadzenButton style="width: 100px" Icon="search" Variant="Variant.Flat" Text="ค้นหา" />
                <RadzenButton style="width: 100px" Icon="autorenew" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light" Text="ล้าง" />
            </RadzenColumn>
            <RadzenColumn>
            </RadzenColumn>
        </RadzenRow>

    </div>
</div>

<RadzenDataGrid TItem="ActivityData" Data="@activitys" PagerPosition="PagerPosition.Bottom"
                FilterMode="FilterMode.SimpleWithMenu" PageSize="10"
                SelectionMode="DataGridSelectionMode.Single"
                @bind-Value=@selectedActivity
                AllowFiltering="true" AllowPaging="true" AllowColumnResize="true"
                AllowSorting="true" ColumnWidth="300px">
    <Columns>

        <RadzenDataGridColumn Width="60px" Filterable="false" Property="@nameof(ActivityData.Activity_ID)" Title="">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Light" Click="@(args => OpenSideDialog(data.Activity_ID,data.Activity_Type))" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="manage_search" class="rz-m-1" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Width="100px" Filterable="false" Property="Activity_ID" Title="สินค้า">
            <Template Context="data">
                <RadzenImage Path="/products/product001.png" Style="width: 60px; height: 60px;" class="rz-border-radius-2" AlternateText="" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.Activity_ID)" Width="100px" Title="กิจกรรม ID" />
        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.Activity_Name)" Width="180px" Title="ชื่อกิจกรรม" />
        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.Activity_Type)" Width="150px" Title="ประเภท" />
        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.Activity_Status)" Width="150px" Title="Point" />
        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.Activity_Progress)" Width="100px" Title="ความคืบหน้า" />
        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.Activity_Assign)" Width="180px" Title="มอบหมายให้" />
        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.CountActivity_Succeed)" Width="100px" Title="สำเร็จ" />
        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.CountActivity_ALL)" Width="100px" Title="ทั้งหมด" />
        <RadzenDataGridColumn TItem="ActivityData" Property="@nameof(ActivityData.Activity_Duedate)" Width="180px" Title="วันครบกำหนด" />
    </Columns>
</RadzenDataGrid>


@code {
    bool isDialogOpen = false;
    DateTime? value = DateTime.Now;
    private IEnumerable<ActivityData> activitys;
    IList<ActivityData> selectedActivity;

    private string username;
    private IEnumerable<string> roles;


    async Task OpenUpload()
    {
        await DialogService.OpenAsync<DialogCardPageUploadJob>($"",
              new Dictionary<string, object>() { { "UploadID", 1 } },
              new DialogOptions() { Width = "800px", Height = "400px" });
    }


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            username = user.Identity.Name;
            roles = user.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value);
        }
        else
        {
            try
            {
                InvokeAsync(async () =>
          {
      await Task.Delay(2000);
      DialogService.Close();
          });
                await BusyDialog();
                string? username = await LocalStorage.GetItemAsStringAsync("username");
                var user1 = await allseed_Db.Users.Where(u => u.username == username).FirstOrDefaultAsync();
                if (user1 != null)
                {

                    if (AuthenticationStateProvider is CustomAuthenticationStateProvider customAuthProvider)
                    {
                        await customAuthProvider.MarkUserAsAuthenticated(user1);
                    }
                    await LocalStorage.SetItemAsStringAsync("username", username);
                }
                else
                {
                    Navigation.NavigateTo("/login", forceLoad: false);
                }
            } catch { }
        }



        var baseApiUrl = Configuration["ApiSettings:BaseApiUrl"];
        activitys = await Http.GetFromJsonAsync<IEnumerable<ActivityData>>($"{baseApiUrl}/api/ActivityAdmin");

        selectedActivity = new List<ActivityData>() { activitys.FirstOrDefault() };
    }

    async Task OpenSideDialog(int ActID, string type)
    {

        if (type == "กิจกรรม")
        {
            if (isDialogOpen)
            {
                DialogService.Close();
                // await Task.Delay(200);
            }
            StateHasChanged();
            await DialogService.OpenSideAsync<DialogCardPageCustomerActivity>(
                "กิจกรรม",
                new Dictionary<string, object>
                                        {
            { "UploadID", ActID.ToString() }
                                        },
                new SideDialogOptions
                    {
                        CloseDialogOnOverlayClick = true,
                        Position = DialogPosition.Right,
                        ShowMask = false,
                        Width = "850px"
                    });

            isDialogOpen = true;
        }
        else
        {
            if (isDialogOpen)
            {
                DialogService.Close();
                // await Task.Delay(200);
            }
            StateHasChanged();
            await DialogService.OpenSideAsync<DialogCardPageCustomerCampaign>(
                "แคมเปญ",
                new Dictionary<string, object>
                                            {
            { "UploadID", ActID.ToString() }
                                            },
                new SideDialogOptions
                    {
                        CloseDialogOnOverlayClick = true,
                        Position = DialogPosition.Right,
                        ShowMask = false,
                        Width = "850px"
                    });

            isDialogOpen = true;
        }

    }


    // Busy dialog from markup
    async Task BusyDialog()
    {
        await DialogService.OpenAsync("", ds =>
    @<RadzenStack AlignItems="AlignItems.Center" Gap="2rem" class="rz-p-12">
        <RadzenImage Path="image/system/community.svg" Style="width: 200px;" AlternateText="community" />
        <RadzenText TextStyle="TextStyle.H6">Loading, please wait...</RadzenText>
    </RadzenStack>, new DialogOptions() { ShowTitle = false, Style = "min-height:auto;min-width:auto;width:auto", CloseDialogOnEsc = false });
    }

  

}