@page "/dialogcard/{OrderID}"
@using System.ComponentModel.DataAnnotations
@using BlazorApp_TeleCRM.Data
@using BlazorApp_TeleCRM.Helper
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using MySql.Data.MySqlClient
@using static BlazorApp_TeleCRM.Components.Pages.Job.Job
@inject IConfiguration Configuration
@inject MySqlConnection MySqlConnection
@inject Radzen.DialogService dialogService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NotificationService NotificationService
@inject HttpClient Http
@inject UtilityConvet utility ;



<RadzenStack Gap="1rem" Orientation="Orientation.Horizontal" >
    <RadzenCard Variant="Variant.Outlined">
        <RadzenTabs @bind-SelectedIndex=@selectedIndex Change=@OnChange>
            <Tabs>
                <RadzenTabsItem Text="บันทึกการโทร" Icon="star" IconColor="@Colors.Success">
                    <RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
                        <RadzenRow>
                            <RadzenColumn Size="6" SizeMD="6" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                                <RadzenTemplateForm TItem="Model" Data=@model Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
                                  
                                        <RadzenStack class="rz-12">

                                            <RadzenRow AlignItems="AlignItems.Start" class="rz-12">
                                                <RadzenColumn SizeSM="4">
                                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">สถานะการโทร <span class="rz-messages-error">*</span> </RadzenText>
                                                </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                    <RadzenDropDown @bind-Value=@model.call_status style="display:block;width:100%"
                                                                    Data=@StatusTelData Name="call_status" class="w-100" />
                                                    <RadzenRequiredValidator Component="call_status" Text="เลือก สถานะการโทร" Style="position: absolute" />
                                                </RadzenColumn>
                                            </RadzenRow>

                                            <RadzenRow AlignItems="AlignItems.Start" class="rz-12">
                                                <RadzenColumn SizeMD="4">
                                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">สถานะการสนทนา <span class="rz-messages-error">*</span> </RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="12" SizeMD="8">
                                                    <RadzenDropDown @bind-Value=@model.call_action style="display:block;width:100%"
                                                                    Data=@StatusConversationData Name="call_action" class="w-100" />
                                                    <RadzenRequiredValidator Component="call_action" Text="เลือก สถานะการสนทนา" Style="position: absolute" />
                                                </RadzenColumn>
                                            </RadzenRow>

                                            <RadzenRow AlignItems="AlignItems.Start" class="rz-12">
                                                <RadzenColumn Size="12" SizeMD="4">
                                                    <RadzenLabel Text="คำสั่งซื้อใหม่" Component="sale_order" />
                                                </RadzenColumn>
                                                <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox Placeholder="กรอกเลขที่เปิดคำสั่งซื้อใหม่" Name="sale_order" @bind-Value="@model.sale_order" class="w-100" />
                                                </RadzenColumn>
                                            </RadzenRow>

                                            <RadzenRow AlignItems="AlignItems.Start" class="rz-12">
                                                <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="หมายเหตุ" Component="remark" />
                                                </RadzenColumn>
                                                <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextArea Placeholder="" Name="remark" @bind-Value="@model.remark" class="w-100" />
                                                </RadzenColumn>
                                            </RadzenRow>

                                            <RadzenRow AlignItems="AlignItems.Start" class="rz-12">
                                                <RadzenColumn Size="12" SizeMD="4">
                                                    <RadzenLabel Text="คะแนนการมีส่วนร่วม" Component="Participation" />
                                                </RadzenColumn>
                                                <RadzenColumn Size="12" SizeMD="8">
                                                    <RadzenRating @bind-Value=@model.statusparticipation />
                                                </RadzenColumn>
                                            </RadzenRow>

                                            <!-- Submit Button -->
                                            <RadzenRow AlignItems="AlignItems.Start">
                                                <RadzenColumn Size="12">
                                                <RadzenButton Disabled="@btnDisable" ButtonType="ButtonType.Submit" Text="บันทึก" Style="margin-top: 5px;" />
                                                </RadzenColumn>
                                            </RadzenRow>

                                            <hr>

                                            <RadzenRow AlignItems="AlignItems.Start" class="rz-12">
                                                <RadzenColumn Size="12" SizeMD="4">
                                                    <RadzenLabel Text="นัดโทรครั้งถัดไป" Component="DatePickerWithTime" />
                                                </RadzenColumn>
                                                <RadzenColumn Size="12" SizeMD="8">
                                                    <RadzenDatePicker @bind-Value=@appointmentDate ShowTime="true" ShowSeconds="true" HoursStep="1.5" MinutesStep="5" SecondsStep="10" DateFormat="dd/MM/yyyy HH:mm" Name="DatePickerWithTime" />
                                                </RadzenColumn>
                                            </RadzenRow>
                                            <RadzenRow AlignItems="AlignItems.Start">
                                                <RadzenButton ButtonType="ButtonType.Button" Disabled="true" ButtonStyle="ButtonStyle.Warning" Text="นัดหมายครั้งหน้า" Style="margin-top: 5px;" />
                                                <RadzenText TextStyle="TextStyle.H6" Style="color:crimson">1 กรณีที่ไม่สะดวก หรือ ต้องติดตาม ระบบต้องมีหน้าให้พนักงานสร้าง นัดหมายครั้งหน้าได้ </RadzenText>
                                            </RadzenRow>


                                        </RadzenStack>
                                  
                                </RadzenTemplateForm>
                            </RadzenColumn>
                            <RadzenColumn Size="6" SizeMD="6" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                                <RadzenRow Gap="0">
                                    <RadzenColumn>
                                        <RadzenText TextStyle="TextStyle.Subtitle1">ข้อมูลลูกค้า</RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn>
                                        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-color-primary">ความคืบหน้า</RadzenText>
                                        @if (model.status == "สำเร็จ")
                                        {
                                            <RadzenButton Text="สำเร็จ" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" class="rz-ripple" />
                                        }
                                        else if (model.status == "")
                                        {
                                            <RadzenButton Text="รอดำเนินการ" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Warning" Variant="Variant.Flat" class="rz-ripple" />
                                        }
                                        else if (model.status == "ปิดการขาย")
                                        {
                                            <RadzenButton Text="ปิดการขาย" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" class="rz-ripple" />
                                        }
                                        else if (model.status == "ไม่สำเร็จ")
                                        {
                                            <RadzenButton Text="ไม่สำเร็จ" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" class="rz-ripple" />
                                        }
                                        else
                                        {
                                            <RadzenButton Text="@model.status" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Dark" Variant="Variant.Flat" class="rz-ripple" />
                                        }
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">

                                    <RadzenStack Gap="0">
                                        <RadzenText TextStyle="TextStyle.Overline" Style="color: var(--rz-text-tertiary-color);">เบอร์ติดต่อลูกค้า</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b><a href="tel:@utility.FormatPhoneNumberWithCountryCode(model.customer_phone)"><RadzenIcon Icon="smartphone" /> @utility.FormatPhoneNumber(model.customer_phone) </a></b></RadzenText>
                                        <img width="150px" style="margin-top:20px" src="data:image/png;base64,@qrCodeImage" alt="QR Code" />
                                    </RadzenStack>
                                    <RadzenStack Gap="0">
                                        <RadzenText TextStyle="TextStyle.Overline" Style="color: var(--rz-text-tertiary-color);">ชื่อลูกค้า</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>@model.customer_name</b></RadzenText>
                                        <RadzenText TextStyle="TextStyle.Overline" Style="color: var(--rz-text-tertiary-color);">ที่อยู่</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Caption"><b>@model.customer_address1 @model.customer_sub_district @model.customer_district @model.customer_province @model.customer_zipcode</b></RadzenText>
                                    </RadzenStack>
                                </RadzenStack>

                                <hr>

                                <RadzenColumn Size="6" SizeMD="6" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                                    <RadzenText TextStyle="TextStyle.Subtitle1">ผู้ติดต่อ</RadzenText>
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                                        <RadzenImage Path="/user/staff1.jpg" Style="width: 5rem;" AlternateText="@* @order.Contact_By *@" />
                                        <RadzenStack Gap="0" class="rz-text-truncate">
                                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">พนักงาน</RadzenText>
                                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>@* @order.Contact_By *@</b></RadzenText>
                                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-4 rz-mb-0" Style="color: var(--rz-text-tertiary-color);">วันที่ติดต่อ</RadzenText>
                                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>@* @order.Contact_Date *@</b></RadzenText>

                                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-4 rz-mb-0" Style="color: var(--rz-text-tertiary-color);">เบอร์ที่ใช้โทร</RadzenText>
                                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>-</b></RadzenText>
                                        </RadzenStack>
                                    </RadzenStack>
                                </RadzenColumn>



                            </RadzenColumn>

                    
                        </RadzenRow>
                    </RadzenStack>
                    
                    <RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;margin-top:10px">
                        <RadzenStack>
                            <RadzenText TextStyle="TextStyle.H5" Style="margin-top:10px"><b>ข้อมูลกิจกรรม</b></RadzenText>
                            <RadzenRow>
                                <RadzenColumn Size="12" SizeMD="12" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                                    <RadzenRow Gap="0">
                                        <RadzenColumn>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>รหัสกิจกรรม</b></RadzenText>
                                            <br />
                                            <RadzenText TextStyle="TextStyle.Caption">@model.activities_id </RadzenText>
                                        </RadzenColumn>
                                        <RadzenColumn>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>ชื่อกิจกรรม</b> </RadzenText>
                                            <br />
                                            <RadzenText TextStyle="TextStyle.Caption">@model.activities_name </RadzenText>
                                        </RadzenColumn>
                                        <RadzenColumn>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>วันที่กิจกรรม</b></RadzenText>
                                            <br />
                                            <RadzenText TextStyle="TextStyle.Caption">
                                                @if (model.activities_startdate != null)
                                                {
                                                    @model.activities_startdate.Value.ToString("dd/MM/yyyy HH:mm:ss") 
                                                }
                                                 - 
                                                @if (model.activities_duedate != null)
                                                {
                                                    @model.activities_duedate.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                                }
                                              </RadzenText>
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow Gap="0">
                                        <RadzenColumn>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>ผู้มอบจ่ายงาน</b></RadzenText>
                                            <br />
                                            <RadzenText TextStyle="TextStyle.Caption">@model.activities_created_by</RadzenText>
                                        </RadzenColumn>
                                        <RadzenColumn>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>รายละเอียด</b></RadzenText>
                                            <br />
                                            <RadzenText TextStyle="TextStyle.Caption">@model.activities_description</RadzenText>
                                        </RadzenColumn>
                                    </RadzenRow>

                                    <RadzenRow Gap="0">
                                        <RadzenColumn>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>งานโอน</b></RadzenText>
                                            <br />
                                            <RadzenText TextStyle="TextStyle.Caption">-</RadzenText>
                                        </RadzenColumn>
                                        <RadzenColumn>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>ฝากงานให้นายหน้า</b></RadzenText>
                                            <br />
                                            <RadzenText TextStyle="TextStyle.Caption">-</RadzenText>
                                        </RadzenColumn>
                                    </RadzenRow>



                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Style="margin-top:10px">

                                        <RadzenStack Gap="0">
                                            <img width="150px" style="margin-top:20px" src="/products/product001.png" alt="product001.png" />
                                        </RadzenStack>
                                        <RadzenStack Gap="0">
                                            <RadzenText TextStyle="TextStyle.Caption"><b>รหัสสินค้า</b></RadzenText>
                                            <RadzenText TextStyle="TextStyle.Caption">xxxxx</RadzenText>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>ชื่อสินค้า</b></RadzenText>
                                            <RadzenText TextStyle="TextStyle.Caption">xxxxx</RadzenText>
                                            <RadzenText TextStyle="TextStyle.Caption"><b>ราคาสินค้า</b></RadzenText>
                                            <RadzenText TextStyle="TextStyle.Caption">100 บาท</RadzenText>
                                        </RadzenStack>
                                    </RadzenStack>


                                </RadzenColumn>

                            </RadzenRow>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenTabsItem>
                @*
                <RadzenTabsItem Text="ข้อมูลลูกค้า & กิจกรรม">
                <RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;">
                <RadzenStack>
                <RadzenRow>
                <RadzenColumn Size="6" SizeMD="6" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                <RadzenRow Gap="0">
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Subtitle1">ข้อมูลลูกค้า</RadzenText>
                </RadzenColumn>
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-color-primary">ผลตอบรับ</RadzenText>
                <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="สั่งสินค้า" />
                </RadzenColumn>
                </RadzenRow>


                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">

                <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Overline" Style="color: var(--rz-text-tertiary-color);">เบอร์ติดต่อลูกค้า</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b><a href="tel:+66850931002"><RadzenIcon Icon="smartphone" style="font-size:12px" />085-0931-002</a></b></RadzenText>
                <img width="150px" style="margin-top:20px" src="data:image/png;base64,@qrCodeImage" alt="QR Code" />
                </RadzenStack>
                <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Overline" Style="color: var(--rz-text-tertiary-color);">ชื่อลูกค้า</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>@order.Customer_FullName</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" Style="color: var(--rz-text-tertiary-color);">ที่อยู่</RadzenText>
                <RadzenText TextStyle="TextStyle.Caption"><b>@order.Customer_Address</b></RadzenText>
                </RadzenStack>
                </RadzenStack>


                </RadzenColumn>
                <RadzenColumn Size="6" SizeMD="6" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                <RadzenText TextStyle="TextStyle.Subtitle1">ผู้ติดต่อ</RadzenText>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenImage Path="/user/staff1.jpg" Style="width: 5rem;" AlternateText="@order.Contact_By" />
                <RadzenStack Gap="0" class="rz-text-truncate">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">พนักงาน</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>@order.Contact_By</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-4 rz-mb-0" Style="color: var(--rz-text-tertiary-color);">วันที่ติดต่อ</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>@order.Contact_Date</b></RadzenText>

                <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-4 rz-mb-0" Style="color: var(--rz-text-tertiary-color);">เบอร์ที่ใช้โทร</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>-</b></RadzenText>
                </RadzenStack>
                </RadzenStack>
                </RadzenColumn>

                </RadzenRow>
                </RadzenStack>
                </RadzenStack>

                <RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;margin-top:10px">
                <RadzenStack>
                <RadzenText TextStyle="TextStyle.H5" Style="margin-top:10px"><b>ข้อมูลกิจกรรม</b></RadzenText>
                <RadzenRow>
                <RadzenColumn Size="12" SizeMD="12" class="rz-p-4 rz-border-radius-1" Style="border: var(--rz-grid-cell-border)">
                <RadzenRow Gap="0">
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Caption"><b>รหัสกิจกรรม</b></RadzenText>
                <br />
                <RadzenText TextStyle="TextStyle.Caption">A00001 </RadzenText>
                </RadzenColumn>
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Caption"><b>ชื่อกิจกรรม</b> </RadzenText>
                <br />
                <RadzenText TextStyle="TextStyle.Caption">เสนอขายสินค้า xxx</RadzenText>
                </RadzenColumn>
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Caption"><b>วันที่กิจกรรม</b></RadzenText>
                <br />
                <RadzenText TextStyle="TextStyle.Caption">01/01/2024 : 13:00 - 02/01/2024 : 13:00</RadzenText>
                </RadzenColumn>
                </RadzenRow>
                <RadzenRow Gap="0">
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Caption"><b>ผู้มอบจ่ายงาน</b></RadzenText>
                <br />
                <RadzenText TextStyle="TextStyle.Caption">Admin A</RadzenText>
                </RadzenColumn>
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Caption"><b>หมายเหตุ</b></RadzenText>
                <br />
                <RadzenText TextStyle="TextStyle.Caption">Admin A</RadzenText>
                </RadzenColumn>
                </RadzenRow>

                <RadzenRow Gap="0">
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Caption"><b>งานโอน</b></RadzenText>
                <br />
                <RadzenText TextStyle="TextStyle.Caption">โอนมาจาก พนักงาน B / ทีม A / -</RadzenText>
                </RadzenColumn>
                <RadzenColumn>
                <RadzenText TextStyle="TextStyle.Caption"><b>ฝากงานให้นายหน้า</b></RadzenText>
                <br />
                <RadzenText TextStyle="TextStyle.Caption">ร้าน ต้นไม้จันทบุรี / -</RadzenText>
                </RadzenColumn>
                </RadzenRow>



                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Style="margin-top:10px">

                <RadzenStack Gap="0">
                <img width="150px" style="margin-top:20px" src="/products/product001.png" alt="product001.png" />
                </RadzenStack>
                <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Caption"><b>รหัสสินค้า</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Caption">xxxxx</RadzenText>
                <RadzenText TextStyle="TextStyle.Caption"><b>ชื่อสินค้า</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Caption">xxxxx</RadzenText>
                <RadzenText TextStyle="TextStyle.Caption"><b>ราคาสินค้า</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Caption">100 บาท</RadzenText>
                </RadzenStack>
                </RadzenStack>


                </RadzenColumn>

                </RadzenRow>
                </RadzenStack>
                </RadzenStack>


                </RadzenTabsItem>
                <RadzenTabsItem Text="ประวัติการติดต่อ">
                <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-12" Style="max-width:800px">
                <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                @bind-Value=@selectedCustomer
                Data="@forecasts" ColumnWidth="150px" SelectionMode="DataGridSelectionMode.Single"
                Density="Density.Compact"
                PagerPosition="PagerPosition.Bottom"
                AllowColumnResize="true">
                <Columns>
                <RadzenDataGridColumn TItem="JobDataList" Property="Contact_By" Width="150px" Title="ผู้ติดต่อ" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Contact_Date" Width="150px" Title="วันที่ติดต่อลูกค้า" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_By" Width="150px" Title="ผู้ติดต่อครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_Date" Width="150px" Title="วันที่ติดต่อครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_Action" Width="120px" Title="ผลตอบรับครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Remark" Width="200px" Title="หมายเหตุ" />
                </Columns>
                </RadzenDataGrid>
                </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="ประวัติการซื้อ">
                <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-12" Style="max-width:800px">

                <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                @bind-Value=@selectedCustomer
                Data="@forecasts" ColumnWidth="150px" SelectionMode="DataGridSelectionMode.Single"
                Density="Density.Compact"
                PagerPosition="PagerPosition.Bottom"
                AllowColumnResize="true">
                <Columns>
                <RadzenDataGridColumn TItem="JobDataList" Property="Contact_By" Width="150px" Title="ผู้ติดต่อ" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Contact_Date" Width="150px" Title="วันที่ติดต่อลูกค้า" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_By" Width="150px" Title="ผู้ติดต่อครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_Date" Width="150px" Title="วันที่ติดต่อครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_Action" Width="120px" Title="ผลตอบรับครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Remark" Width="200px" Title="หมายเหตุ" />
                </Columns>
                </RadzenDataGrid>

                </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Note">

                <RadzenStack class="rz-12">
                <RadzenTemplateForm @ref="form" TItem="UpdateJob" Data="@Model" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
                <RadzenFieldset Text="กรอกข้อมูล">
                <RadzenStack>
                <RadzenRow AlignItems="AlignItems.Start" class="rz-8">
                <RadzenColumn Size="2" SizeMD="2">
                <RadzenLabel Text="หมายเหตุ" Component="Remark" />
                </RadzenColumn>
                <RadzenColumn Size="6" SizeMD="6">
                <RadzenTextArea Placeholder="" Name="Remark" @bind-Value="@Model.remark" class="w-100" />
                </RadzenColumn>
                </RadzenRow>
                <!-- Submit Button -->
                <RadzenRow AlignItems="AlignItems.Start">
                <RadzenColumn Size="12">
                <RadzenButton ButtonType="ButtonType.Submit" Text="บันทึก" Style="margin-top: 5px;" />
                </RadzenColumn>
                </RadzenRow>

                </RadzenStack>
                </RadzenFieldset>
                </RadzenTemplateForm>

                </RadzenStack>

                <RadzenStack Style="margin-top:20px;max-width:800px">

                <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                @bind-Value=@selectedCustomer
                Data="@forecasts" ColumnWidth="150px" SelectionMode="DataGridSelectionMode.Single" Density="Density.Compact"
                PagerPosition="PagerPosition.Bottom"
                AllowAlternatingRows="false">
                <Columns>
                <RadzenDataGridColumn TItem="JobDataList" Property="Contact_By" Width="150px" Title="ผู้ติดต่อ" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Contact_Date" Width="150px" Title="วันที่ติดต่อลูกค้า" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_By" Width="150px" Title="ผู้ติดต่อครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_Date" Width="150px" Title="วันที่ติดต่อครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Last_Contact_Action" Width="120px" Title="ผลตอบรับครั้งก่อน" />
                <RadzenDataGridColumn TItem="JobDataList" Property="Remark" Width="200px" Title="หมายเหตุ" />
                </Columns>
                </RadzenDataGrid>


                </RadzenStack>

                </RadzenTabsItem>
                *@

            </Tabs>
        </RadzenTabs>
    </RadzenCard>
</RadzenStack>
@* <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="1.5rem">
    <RadzenButton Click="@((args) => dialogService.Close(true))" Variant="Variant.Outlined" Text="ปิด" Style="width: 120px;margin-bottom:20px" />
</RadzenStack>
 *@

@code {
    [Parameter] public string OrderID { get; set; }
    // Order order;

    DateTime? appointmentDate = DateTime.Now.AddDays(3);


    bool runProcess_wait = false;
    bool btnDisable = false;
    bool isError = false;
    string TextError = "";
    bool runProcess = false;
    string TextProcess = "";



    private string? username;
    private string? BranchCode { get; set; }
    private IEnumerable<string>? _BranchCode;

    int selectedIndex = 0;
    private string? qrCodeImage = "";

    private IEnumerable<JobDataList>? act_data;
    JobDataList selectedAct;


    //from data
    class Model
    {
        public string? activities_id { get; set; }
        public string? activities_name { get; set; }
        public string? activities_touch_point { get; set; }
        public string? activities_description { get; set; }
        public string? activities_created_by { get; set; }

        public DateTime? activities_startdate { get; set; }
        public DateTime? activities_duedate { get; set; }
        public DateTime? activities_reminder_duedate { get; set; }
        public string? activities_assign_work { get; set; }
        public bool? allowagent { get; set; } = false;

        public string? status { get; set; }
        public string? call_status { get; set; }
        public string? call_action { get; set; }
        public string? sale_order_no { get; set; }
        public string? code { get; set; }
        public int statusparticipation { get; set; }
        public string? sale_order { get; set; }
        public string? remark { get; set; }


        public string? customer_name { get; set; }
        public string? customer_phone { get; set; }
        public string? customer_province { get; set; }
        public string? customer_address1 { get; set; }
        public string? customer_sub_district { get; set; }
        public string? customer_district { get; set; }
        public string? customer_zipcode  { get; set; }


    }

    Model model = new Model();



    IEnumerable<string>? StatusTelData;
    IEnumerable<string>? StatusConversationData;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();


        StatusTelData = new List<string>
{
    "รับสาย",
    "ไม่รับสาย",
    "ติดต่อไม่ได้"
};

        StatusConversationData = new List<string>
{
    "คุยจบ",
    "ไม่สะดวก",
    "ติดตาม",
    "ขายได้",
};

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            username = user.Identity.Name;
            _BranchCode = user.Claims.Where(c => c.Type == ClaimTypes.Locality).Select(c => c.Value);
            BranchCode = _BranchCode.FirstOrDefault();
        }
        else
        {
            username = "";
            BranchCode = "";
        }


    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        act_data = await FetchCustomerDataAsync(this.OrderID);
        if (act_data != null && act_data.Any())
        {
            selectedAct = act_data.FirstOrDefault();

            if (selectedAct != null)
            {
                model.activities_id = selectedAct.guid;
                model.activities_touch_point = selectedAct.touch_point;
                model.activities_name = selectedAct.act_name;
                model.activities_created_by = selectedAct.created_by;
                model.activities_description = selectedAct.description;
                model.activities_startdate = selectedAct.startdate;
                model.activities_duedate = selectedAct.duedate;
                model.activities_reminder_duedate = selectedAct.reminder_duedate;
                model.activities_assign_work = selectedAct.assign_work;
                model.allowagent = selectedAct.allowagent;
                model.status = selectedAct.act_status;
                model.call_action = selectedAct.call_action;
                model.call_status = selectedAct.call_status;
                model.sale_order_no = selectedAct.sale_order_no;
                model.remark = selectedAct.remark;


                model.customer_name = selectedAct.customer_name;
                model.customer_phone = selectedAct.customer_phone;
                model.customer_province = selectedAct.customer_province;
                model.customer_address1 = selectedAct.customer_address1;
                model.customer_sub_district = selectedAct.customer_sub_district;
                model.customer_district = selectedAct.customer_district;
                model.customer_zipcode = selectedAct.customer_zipcode;

                string phoneNumber = "tel:" + @utility.FormatPhoneNumberWithCountryCode(selectedAct.customer_phone);

                // สร้าง QR Code
                using (var qrGenerator = new QRCoder.QRCodeGenerator())
                {
                    var qrCodeData = qrGenerator.CreateQrCode(phoneNumber, QRCoder.QRCodeGenerator.ECCLevel.Q);
                    var qrCode = new QRCoder.PngByteQRCode(qrCodeData);
                    var qrCodeBytes = qrCode.GetGraphic(20);

                    // แปลงเป็น base64 เพื่อแสดงเป็นรูปภาพใน img tag
                    qrCodeImage = Convert.ToBase64String(qrCodeBytes);
                }

            }

        }



    }


    public async Task<IEnumerable<JobDataList>> FetchCustomerDataAsync(string Guid)
    {
        try
        {

            // เปิด DialogService เพื่อแจ้งว่ากำลังโหลด
            runProcess_wait = true;
            StateHasChanged(); // บังคับ UI อัปเดต

            var baseApiUrl = Configuration["ApiSettings:BaseApiUrl"];

            // สร้างข้อมูลที่ต้องการส่งไปกับ POST request
            var searchCriteria = new
            {
                guid = Guid
            };

            // ส่งข้อมูลแบบ POST พร้อมกับ search criteria
            var response = await Http.PostAsJsonAsync($"{baseApiUrl}/api/Job/GetJobDataByID", searchCriteria);

            if (response.IsSuccessStatusCode)
            {
                var activitysDataList = await response.Content.ReadFromJsonAsync<IEnumerable<JobDataList>>();
                return activitysDataList;
            }
            else
            {
                Console.WriteLine("Error fetching Job Data.");
                return Enumerable.Empty<JobDataList>();
            }
        }
        finally
        {
            // ปิด DialogService หลังจากการโหลดเสร็จสิ้น
            runProcess_wait = false;
            StateHasChanged(); // บังคับ UI อัปเดต
        }
    }




    void OnChange(int index)
    {

    }


    private async Task OnSubmit()
    {
        btnDisable = true;
        await ConfirmSubmit();
    }

    private async Task ConfirmSubmit()
    {
        var confirmed = await dialogService.Confirm("คุณต้องการบันทึกข้อมูลนี้หรือไม่?", "ยืนยัน",
            new ConfirmOptions() { Left = "10%", OkButtonText = "Yes", CancelButtonText = "No", Draggable = true });

        if (confirmed.HasValue && confirmed.Value)
        {
             await UpdateBatchToDatabaseWithTransaction();
        }
        else
        {
            
            btnDisable = false;
        }

    }


    private async Task UpdateBatchToDatabaseWithTransaction()
    {
        btnDisable = true;
        runProcess = true;
        runProcess_wait = true;
        TextProcess = "กรุณารอ ระบบกำลังทำการอัปเดตข้อมูล..";

        DateTime today = DateTime.Now;

        await MySqlConnection.OpenAsync();
        using var transaction = await MySqlConnection.BeginTransactionAsync();

        try
        {
            var query = @"UPDATE crm_activitys
                          SET 
                          modified_by = @modified_by,
                          modified_date = @modified_date,
                          status = @status,
                          call_status = @call_status,
                          sale_order_no = @sale_order_no,
                          remark= @remark,
                          code = @code,
                          call_action = @call_action
                      WHERE guid = @guid and branch_code = @branch_code ";

            using var command = new MySqlCommand(query, MySqlConnection, transaction);

            command.Parameters.AddWithValue("@guid", model.activities_id); // ใช้ GUID ที่มีอยู่
            command.Parameters.AddWithValue("@branch_code", BranchCode ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@touch_point", model.activities_touch_point ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@name", model.activities_name ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@description", model.activities_description ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@startdate", model.activities_startdate ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@duedate", model.activities_duedate ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@reminder_duedate", model.activities_reminder_duedate ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@assign_work", model.activities_assign_work ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@assign_work_type", "Activities" ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@allowagent", model.allowagent ?? false);
            command.Parameters.AddWithValue("@record_status", true);
            command.Parameters.AddWithValue("@modified_by", username);
            command.Parameters.AddWithValue("@modified_date", today);
            command.Parameters.AddWithValue("@status", model.status ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@call_status", model.call_status ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@sale_order_no", model.sale_order_no ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@remark", model.remark ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@code", model.code ?? (object)DBNull.Value);
            command.Parameters.AddWithValue("@call_action", model.call_action ?? (object)DBNull.Value);

            await command.ExecuteNonQueryAsync();

            // Commit transaction
            await transaction.CommitAsync();
        }
        catch (Exception ex)
        {
            // Rollback transaction in case of an error
            await transaction.RollbackAsync();
            TextProcess = $"Error: {ex.Message}";
            btnDisable = false;
            runProcess_wait = false;
        }
        finally
        {
            await MySqlConnection.CloseAsync();
            btnDisable = true;
            runProcess_wait = false;
            TextProcess = "อัปเดตข้อมูลในระบบเรียบร้อยแล้ว";
            NotificationService.Notify(NotificationSeverity.Success, "สำเร็จ", "อัปเดตข้อมูลสำเร็จ");
            StateHasChanged();
        }
    }



    private void OnInvalidSubmit()
    {

    }


    public class UpdateJob
    {
        [Required(ErrorMessage = "เลือกสถานะ")]
        public string statusTel { get; set; }
        public string statusConversation { get; set; }
        public int statusparticipation { get; set; }
        public string sale_order { get; set; }
        public string remark { get; set; }
    }


    private class Order
    {
        public string? JobID { get; set; }
        public DateTime? Date { get; set; }
        public int? TemperatureC { get; set; }
        public string Summary { get; set; }
        public string Customer_FullName { get; set; }
        public string Customer_Phone { get; set; }
        public string Customer_Address { get; set; }
        public string Customer_Action { get; set; }
        public string Contact_By { get; set; }
        public DateTime? Contact_Date { get; set; }
        public string Last_Contact_By { get; set; }
        public DateTime? Last_Contact_Date { get; set; }
        public string Last_Contact_Action { get; set; }
        public string Remark { get; set; }
    }




}
